body{
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    margin:0;
    padding:20px;
}

.container{
    background:white;
    max-width:800px;
    margin:auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

h1{
    color:rgb(150, 32, 12);
    text-align:center;
}

h2{
    color:hwb(24 5% 35%);
}


.datos{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.texto{
    width:60%;
}

img{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}


button{
    background-color:rgb(109, 37, 15);
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background-color:darkblue;
}